* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top right, rgb(94, 94, 255), rgb(196, 5, 151));
    display: flex;
    justify-content: center;
    align-items: center;

}

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}